<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"></provider>
    <dataSource name="IBatisNet" connectionString="server=.;database=UserDemoDb;user id=sa;password=;connection reset=false;"/>
  </database>
  <sqlMaps>
    <sqlMap resource="Maps/UserInfo.xml" xmlns="http://ibatis.apache.org/dataMapper"/>
    <sqlMap resource="Maps/Card.xml" xmlns="http://ibatis.apache.org/dataMapper"/>
    <sqlMap resource="Maps/UserInfoItem.xml"/>
  </sqlMaps>

</sqlMapConfig>
