<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../Scripts/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="../Scripts/themes/icon.css">
    <link rel="stylesheet" href="../Scripts/themes/common.css">
    <title>Product App</title>
</head>
<body id="cc8" class="e4asyui-layout">
    测试sea.js   二维码

    <div id="qr">IIIIPPPP</div>

    <script type="text/javascript" src="../Scripts/sea.js"></script>
    <script type="text/javascript" src="../Scripts/seajs.config.js"></script>
    <script type = "text/javascript" >
        seajs.use('../Scripts/testSea');
        </script>
</body>

</html>